.card{
    width: 100%;
}

.footer{
    text-align: center;
    width: 100%;
    position: sticky;
    bottom: 0;
    left: 0;
}

.avtr{
    width: 35px;
    height: 35px;
}

.crd-ttl{
    margin-top: 5px;
    margin-left: 10px;
}

.present-class .action-sheet-group {
    --background: red;
  }
